sqlalchemy
pytest
numpy
tensorflow==2.4.0
nni
seaborn
Keras==2.4.3
keras-layer-normalization==0.14.0
terminaltables
HTSeq
intervaltree
sqlalchemy
numpy
h5py
git+https://github.com/janinamass/dustdas@master
# for testing only
pytest
