sqlalchemy
pytest
numpy
tensorflow-gpu==1.15.0
nni
seaborn
Keras==2.2.4
keras-layer-normalization==0.13.0
terminaltables
HTSeq
intervaltree
sqlalchemy
numpy
h5py
git+https://github.com/janinamass/dustdas@master
# for testing only
pytest
