sqlalchemy==1.3.22
nni
seaborn
terminaltables
HTSeq
intervaltree
numpy
multiprocess
git+https://github.com/gglyptodon/dustdas@v0.2
numcodecs
appdirs
torch
termcolor
# for testing only
pytest
requests
